<div class="clipboard">
  <div class="title">
    <div class="col-sm">
      <h5 class="text-white">Cadastro de Turma</h5>
    </div>
  </div>

  <div class="content">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(classroomForm)" #classroomForm="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Descrição da Turma: </label>
            <input type="text" id="descricao" class="form-control" name="descricao" [(ngModel)]="model.descricao" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-sm mr-1" type="submit" [disabled]="!classroomForm.valid">Adicionar</button>
            <button class="btn btn-secondary btn-sm ml-1" type="button" (click)="onCancel()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>