<div class="clipboard">
  <div class="title">
    <div class="col-sm">
      <h5 class="text-white">Cadastro de Aluno</h5>
    </div>
  </div>

  <div class="content">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(studentForm)" #studentForm="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" class="form-control" name="nome" [(ngModel)]="model.nome" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="nomeMae">Nome da Mãe: </label>
            <input type="text" id="nomeMae" class="form-control" name="nomeMae" [(ngModel)]="model.nomeMae" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="nomePai">Nome do Pai: </label>
            <input type="text" id="nomePai" class="form-control" name="nomePai" [(ngModel)]="model.nomePai" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="telefoneMae">Telefone da Mãe: </label>
            <input type="phone" id="telefoneMae" class="form-control" name="telefoneMae" pattern="^[1-9]+[0-9]*$" [(ngModel)]="model.telefoneMae">
          </div>
          <div class="col-sm-5 form-group">
            <label for="telefonePai">Telefone do Pai: </label>
            <input type="phone" id="telefoneMae" class="form-control" name="telefonePai" pattern="^[1-9]+[0-9]*$" [(ngModel)]="model.telefonePai">
          </div>
          <div class="col-sm-5 form-group">
            <label for="endereco">Endereço: </label>
            <input type="text" id="endereco" class="form-control" name="endereco" [(ngModel)]="model.endereco">
          </div>
          <div class="col-sm-5 form-group">
            <label for="turma">Turma: </label>
            <select class="form-control" [(ngModel)]="model.turma._id" name="turma">
              <option *ngFor="let classroom of _classroom" [ngValue]="classroom._id">
                {{classroom.descricao}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-primary btn-sm mr-1" type="submit" [disabled]="!studentForm.valid">{{ editMode ? "Atualizar" : "Adicionar" }}</button>
            <button class="btn btn-secondary btn-sm ml-1" type="button" (click)="onCancel()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>