<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Nome</label>
            <input type="text" id="nome" class="form-control" name="nome" ngModel required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="name">Nome da Mãe</label>
            <input type="text" id="nomeMae" class="form-control" name="nomeMae" ngModel required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="name">Nome do Pai</label>
            <input type="text" id="nomePai" class="form-control" name="nomePai" ngModel required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="name">Telefone da Mãe</label>
            <input type="number" id="telefoneMae" class="form-control" name="telefoneMae" pattern="^[1-9]+[0-9]*$" ngModel required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="name">Telefone do Pai</label>
            <input type="number" id="telefoneMae" class="form-control" name="telefoneMae" pattern="^[1-9]+[0-9]*$" ngModel required>
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Endereço</label>
            <input type="text" id="endereco" class="form-control" name="endereco" ngModel required>
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Turma</label>
            <input type="text" id="turma" class="form-control" name="turma" ngModel required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!form.valid">{{ editMode ? "Update" : "Add" }}</button>
            <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  